<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036948481534-h7a7r3pa9r48v6nmvthiro58svubbhlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036948481534-h7a7r3pa9r48v6nmvthiro58svubbhlc</string>
	<key>API_KEY</key>
	<string>AIzaSyBl5jPdMjj2ZPJHEFRnd0dsftA54__GRoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1036948481534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findingAlly</string>
	<key>PROJECT_ID</key>
	<string>finding-ally</string>
	<key>STORAGE_BUCKET</key>
	<string>finding-ally.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036948481534:ios:a53d8c957f95e018be0caf</string>
</dict>
</plist>